span {
    font-family: 'Nunito', sans-serif;
    white-space: pre-wrap;
}

input {
    margin: 0.5rem;
}

.cell {
    font-family: 'Nunito', sans-serif;
    border: 20px;
}

.header {
    font-size: 20px;
    background-color: #881c1c;
    padding: 1rem;
    color: white;
}

.butt {
    background-color: #881c1c;
    color: white
}

#dis_image {
    width: 400px;
    height: 300px;
}