body {background-color: #881c1c;
	font-family: 'Nunito', sans-serif;
}

.container-bg {
	margin-top: 100px;
	background: white;
	height: 600px;
}

h1.text-center{
	color: black;
}

p{
	top: 10px;
	right: 10px;
	padding: 2px;
	border: 1px solid blue;
	display: inline-block;
	background: #E3F2FD;
}

div.parent{
	height: 75%;
	width: 100%;
	border: 1px solid black;
	margin: 0 auto;
}

.card{
	margin-left: calc(2 * var(--bs-gutter-x));
	padding-top: 10px;
	height: 95%;
	box-shadow: 0 3px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	width: 350px;
	border: 5px solid black;
  }

h5{
	padding-top: 15px;
}

.btn{
	padding: 5px 25px;
	margin-top: 10px;
}


.col-md-4{
  height: 400px;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-.5 * var(--bs-gutter-x));
	margin-left: calc(-.5 * var(--bs-gutter-x));
	margin-bottom: 50px;
}

.categories {
	color: white;
	font-size: 100px;
}


.adj_h{
	height:215px;	
}